n8n-workflow-get-applications.json
{
  "name": "Circle Dashboard - Get Applications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-applications",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "get-applications"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Başvuru Sheet",
          "mode": "name"
        },
        "options": {
          "range": "A1:ZZ1000"
        }
      },
      "id": "google-sheets-1",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [470, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Google Sheets\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\n// First row is headers\nconst firstItem = items[0].json;\nconst headers = Object.keys(firstItem).sort((a, b) => {\n  const aMatch = a.match(/\\d+/);\n  const bMatch = b.match(/\\d+/);\n  if (aMatch && bMatch) {\n    return parseInt(aMatch[0]) - parseInt(bMatch[0]);\n  }\n  return 0;\n}).map(key => firstItem[key]);\n\n// Convert remaining rows to objects\nconst data = items.slice(1).map(item => {\n  const row = Object.keys(item.json).sort((a, b) => {\n    const aMatch = a.match(/\\d+/);\n    const bMatch = b.match(/\\d+/);\n    if (aMatch && bMatch) {\n      return parseInt(aMatch[0]) - parseInt(bMatch[0]);\n    }\n    return 0;\n  }).map(key => item.json[key]);\n  \n  const obj = {};\n  headers.forEach((header, index) => {\n    obj[header] = row[index] || '';\n  });\n  \n  return obj;\n});\n\nreturn data.map(item => ({ json: item }));"
      },
      "id": "code-1",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-to-webhook-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
